@import url("https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap");

body {
  height: 100vh;

  display: grid;
  place-items: center;
}

.container {
  display: flex;
  position: relative;

  .caja1 {
    display: flex;
    height: 543px;
    width: 717px;
    background: linear-gradient(30deg, #89c7b8 20%, #55716a 60%);
    border-radius: 15px;
    z-index: 2;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.4);
    transition: all .7s ease-in;

    .columOne {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      .colors {
        background-color: #d9d9d9;
        box-shadow: 8px 3px 10px rgba(0, 0, 0, 0.3);
        border-radius: 30px;
        margin: 40px 50px;
        margin-right: 20px;
        height: 322px;
        width: 563px;

        .bi {
          font-size: 4rem;
          position: absolute;
          top: 10rem;
          left: 19rem;
          color: #924949;
          transition: all .5s ease;
          opacity: 0;

          &:hover {
            opacity: 1;
            transform: scale(1.2);
          }
        }
      }
      .hex {
        font-size: 1.5em;
        position: absolute;
        top: 338px;
        left: 250px;
        box-shadow: 8px 3px 10px rgba(0, 0, 0, 0.3);
        background-color: #d9d9d9;
        padding: 10px 30px;
        border-radius: 0 0 30px 30px;
        color: #fff;
        text-transform: uppercase;
      }
      .tock {
        padding: 10px 20px;
        width: 60%;
        margin-top: 3rem;
        margin-left: 25px;
        border: none;
        border-radius: 15px;
        font-size: 2rem;
        background: linear-gradient(30deg, #73a8a5 40%, #89c7b8 60%);
        font-family: "Rubik Scribble";
        border: 2px solid #55716a28;
        transition: all .5s ease;

        &:hover {
          background: linear-gradient(30deg, #89c7b8 40%, #73a8a5 60%);
          cursor: pointer;
        }
      }
    }
    .hr {
      background-color: #00000080;
      height: 480px;
      width: 1px;
      margin: 30px 15px 30px 20px;
    }
    .columTwo {
      font-size: 2rem;
      margin: 40px 0;

      .bi {
        color: #000;
        cursor: pointer;
      }
    }
  }
  .active {
    transform: translateX(-20%);
  }

  .caja2 {
    // display: none;
    background-color: #89c7b8;
    height: 510px;
    width: 317px;
    position: absolute;
    right: 0;
    top: 17px;
    border-radius: 0 15px 15px 0;
    z-index: 1;
    transition: all .7s ease-in;
  }
  .activeTwo {
    transform: translateX(54%);
  }
}
