@import url("https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap");

body {
  height: 100vh;
  box-sizing: border-box;

  display: grid;
  place-items: center;
  background: linear-gradient(30deg, #96aca6 20%, #b5e7da 60%);
  background-repeat: no-repeat;
}

.container {
  display: flex;
  position: relative;

  .caja1 {
    display: flex;
    height: 543px;
    width: 717px;
    background: linear-gradient(30deg, #89c7b8 20%, #55716a 60%);
    border-radius: 15px;
    z-index: 2;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.4);
    transition: all .7s ease-in;

    .columOne {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      .colors {
        background-color: #d9d9d9;
        box-shadow: 8px 3px 10px rgba(0, 0, 0, 0.3);
        border-radius: 30px;
        margin: 40px 50px;
        margin-right: 20px;
        height: 322px;
        width: 563px;

        .bi {
          font-size: 4rem;
          position: absolute;
          top: 10rem;
          left: 19rem;
          color: #924949;
          transition: all .5s ease;
          opacity: 0;
          cursor: pointer;
          
          &:hover {
            opacity: 1;
            transform: scale(1.2);
          }
        }
      }
      .hex {
        font-size: 1.5em;
        position: absolute;
        top: 338px;
        left: 250px;
        box-shadow: 8px 3px 10px rgba(0, 0, 0, 0.3);
        background-color: #d9d9d9;
        padding: 10px 30px;
        border-radius: 0 0 30px 30px;
        color: #fff;
        text-transform: uppercase;
      }
      .tock {
        padding: 10px 20px;
        width: 60%;
        margin-top: 3rem;
        margin-left: 25px;
        border: none;
        border-radius: 15px;
        font-size: 2rem;
        background: linear-gradient(30deg, #73a8a5 40%, #89c7b8 60%);
        font-family: "Rubik Scribble";
        border: 2px solid #55716a28;
        transition: all .5s ease;

        &:hover {
          background: linear-gradient(30deg, #89c7b8 40%, #73a8a5 60%);
          cursor: pointer;
        }
      }
    }
    .hr {
      background-color: #00000080;
      height: 480px;
      width: 1px;
      margin: 30px 15px 30px 20px;
    }
    .columTwo {
      font-size: 2rem;
      margin: 40px 0;

      .bi {
        color: #000;
        cursor: pointer;
      }
    }
  }
  .active {
    transform: translateX(-20%);
  }

  .caja2 {
    // display: none;
    background-color: #89c7b8;
    height: 510px;
    width: 317px;
    position: absolute;
    right: 0;
    top: 17px;
    border-radius: 0 15px 15px 0;
    z-index: 1;
    transition: all .7s ease-in;

    .galeria {
      text-align: center;
      font-family: "Rubik Scribble";
      font-size: 2rem;
      margin: 10px 40px 0 40px;
      border-bottom: #000 2px solid;

    }
    .history {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 9px 5px;
      height: 27.5rem;
      overflow: auto;


      &::-webkit-scrollbar {
        background-color: #73a8a5;
        width: 10px;
        border-radius: 30px;
      }

      .caja {
        margin: 5px 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        
        .historia {
          height: 50px;
          width: 100px;
          border-radius: 15px;

          .bi {
            display: grid;
            place-items: center;
            font-size: 1rem;
            height: 50px;
            opacity: 0;
            transition: all .5s ease-in;

            &:hover {
              opacity: 1;
              transform: scale(1.2);
            }
          }
        }
        .texthex {
          text-align: center;
          margin: 5px 0;
        }
      }
      .borrar {
        display: none;
      }
    }
  }
  .activeTwo {
    transform: translateX(54%);
  }
}
